
<div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form>
        <!-- userName input -->
        <div class="form-outline mb-4" >
            <input type="text" id="loginName" class="form-control" [(ngModel)]="userName" name="userName" />

            <label class="form-label" for="loginName">Email or username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="loginPassword" class="form-control" [(ngModel)]="password" name="password"/>

            <label class="form-label" for="loginPassword">Password</label>
        </div>

        <div *ngIf="displayErrorMessage == true">
            <h1>Error</h1>

            <p>This is a error message.</p>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" (click)="formSubmit()">Sign in</button>

        </form>
    </div>
</div>